@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root{
  --mainBlue: #3399ff;
  --mainGray: #ece8dc;
  --mainWhite: #fff;
  --mainBlack: #000;
  --centerAlign: center;
  --fontFamily: 'Montserrat', sans-serif;
}
body{
  font-family: var(--fontFamily);
}



/* navigation bar */
.navbar-brand img{
  width: 100px;
}



/* home page */
.outer_home_page{
  /* background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../images/bg2.jpg'); */
  padding: 200px 0px;
  background-color: var(--mainBlack);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: var(--centerAlign);
}
.outer_home_page .content .profile_pic{
  background-color: var(--mainBlue);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 100%;
}
.outer_home_page .content .profile_pic img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.outer_home_page .content h1{
  color: var(--mainWhite);
}
.outer_home_page .content p{
  color: var(--mainWhite);
}

/* home_component */
.home_component{
  padding: 100px 0px;
  text-align: var(--centerAlign);
}
.home_component .content h2{
  font-size: 50px;
  font-family: var(--fontFamily);
  color: var(--mainBlack);
}
.home_component .content p{
  font-size: 20px;
  font-family: var(--fontFamily);
  color: var(--mainBlack);
}




/* skill_component */
.skill_component{
  padding: 100px 0px;
  background-color: var(--mainBlue);
}
.skill_component h1{
  font-size: 50px;
  text-align: var(--centerAlign);
  font-weight: bold;
  font-family: var(--fontFamily);
}
.skill_component .content{
  background-color: var(--mainWhite);
  margin: 0px auto;
  padding: 10px 20px;
  border-radius: 5px;
}
.skill_component .content p{
  font-size: 20px;
  font-family: var(--fontFamily);
  font-weight: 700;
}
.skill_component .content .front_end_language{
  display: flex;
  align-items: center;
  /* margin-right: 10px; */
}
.skill_component .content .front_end_language span{
  background-color: var(--mainWhite);
  border: 1px solid var(--mainGray);
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 400;
}



/* home_second_section */
.home_second_section{
  padding: 100px 0px;
  text-align: var(--centerAlign);
}
.home_second_section .content h1{
  font-size: 50px;
  color: var(--mainBlack);
}
.home_second_section .content p{
  font-size: 20px;
  color: var(--mainBlack);
}


/* footer_component */
.footer_component{
  background-color: #eee;
  color: var(--mainBlack);
  text-align: var(--centerAlign);
  font-size: 16px;
  padding: 20px 0px;
}






/* about_page */
.about_page{
  background-color: var(--mainBlack);
  padding: 200px 0px;
  text-align: var(--centerAlign);
}
.about_page .content h1{
  color: var(--mainWhite);
  font-size: 50px;
}
.about_page .content p{
  color: var(--mainWhite);
  font-size: 20px;
}
.about_section_one{
  padding: 100px 0px;;
}
.about_section_one .content h1{
  font-size: 50px;
}
.about_section_one .content p{
  font-size: 20px;
  color: var(--mainBlack);
}
.about_secction_two{
  background-color: #ddd;
  padding: 100px 0px;
}
.about_secction_two .content h1{
  color: var(--mainBlack);
  font-size: 50px;
}
.about_secction_two .content p{
  color: var(--mainBlack);
  font-size: 20px;
}

/*Development process */
.process_section1{
  background-color: #ddd;
  padding: 100px 0px;
}
.process_section1 .content h1{
  color: var(--mainBlack);
  font-size: 50px;
  text-align: var(--centerAlign);
}
.process_section1 .content h2{
  color: var(--mainBlack);
  font-size: 30px;
  text-align: var(--centerAlign);
}
.process_section1 .content .steps{
  padding: 10px 5px;
  border-radius: 5px;
  background-color: var(--mainWhite);
  margin-bottom: 10px;
  /* border: 1px solid #ddd; */
}
.process_section1 .content .steps h3{
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
.process_section1 .content .steps h3 span{
  color: rgba(221, 221, 221, 0.938);
}
.process_section1 .content .steps .media{
  margin-bottom: 30px;
}
.process_section1 .content .steps .media img{
  background-color: #ddd;
  border-radius: 5px;
}
.process_section1 .content .steps .media .media-body h5{
  font-weight: bold;
  font-size: 25px;
  color: var(--mainBlack);
}
.process_section1 .content .steps .media .media-body p{
  font-size: 18px;
}




/* project_page */
.project_page{
  background-color: var(--mainBlack);
  text-align: var(--centerAlign);
  padding: 100px 0px;
}
.project_page .content h1{
  font-size: 50px;
  color: var(--mainWhite);
}
.project_page .content p{
  color: var(--mainWhite);
  font-size: 30px;
}